<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>307333312675-i95i3hmcgqbp7boi44guo7c4rvdkj7a8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.307333312675-i95i3hmcgqbp7boi44guo7c4rvdkj7a8</string>
	<key>API_KEY</key>
	<string>AIzaSyCjkZbkpGwy2nA6D_Y093tjvrPmuI4pxfY</string>
	<key>GCM_SENDER_ID</key>
	<string>307333312675</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>nyulas.HealthCheckup</string>
	<key>PROJECT_ID</key>
	<string>healthcheckup-a856d</string>
	<key>STORAGE_BUCKET</key>
	<string>healthcheckup-a856d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:307333312675:ios:aa3b96e83fdc0e9040cf16</string>
</dict>
</plist>